.ModalStyle {
  height: 20vh;
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-color: aquamarine;
}
.contactlist {
  width: 19.1vw;
  height: 6vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: none;
  border-bottom: 1.5px solid gray;
  padding: 1vw 0.1vw 1vw 0.7vw;
  font-weight: bold;
}
.contactlist:hover {
  background-color: lightgray;
}
.addbutton {
  background-color: lightgreen;
  height: 5vh;
  font-size: 2vh;
  font-weight: 600;
  margin-left: 7.7vw;
  margin-top: 1.5vw;
  width: 9vw;
  padding: 1vh;
  margin-right: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.addbutton:hover {
  background-color: lightcyan;
}
.welcomepage {
  width: 80vw;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 4vh;
  color: darkgray;
}
.sidebar {
  display: flex;
  flex-direction: column;
  height: 85vh;
  border: none;
  width: 19.9vw;
  border-right: 0.1vw solid black;
  overflow: auto;
}
.messagebox {
  height: 85vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
}
.chathistory {
  height: 73vh;
  padding: 2vh 2vh 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  overflow: auto;
}

.bottombar {
  display: flex;
  flex-direction: row;
  padding: 2vh 0 2vh 0;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  width: 80vw;
  position: absolute;
  bottom: 0%;
}
.messageinput {
  width: 70vw;
  height: 4vh;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  outline: none;
  border: none;
}
.chatbox {
  max-width: 35vw;
  margin-bottom: 1vw;
  margin-right: 1vw;
  font-weight: bolder;
  padding: 0.5vw;
  background-color: lightsalmon;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.heading {
  position: absolute;
  width: 78vw;
  font-size: 2.5vh;
  background-color: lightcyan;
  padding: 2vh 1vw 2vh 1vw;
  margin-top: 15vh;
  top: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-bottom: 0.1vh solid teal;
  font-weight: bold;
}
